<h5 class="admin-title">{{'VENDOR.ORDERS.TITLE' | translate}} ({{totalRecords}})
    <select class="form-control float-right w-auto" (change)="loadData(1, $event.target.value)">
        <option value="">Toate comenzile</option>
        <option *ngFor="let status of statuses | async"
                [value]="status.value">{{"ORDERS.STATUSES." + status.label | translate}}
        </option>
    </select>
</h5>

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <order-list [totalRecords]="totalRecords" [loading]="loading"
                        [orders]="orders" [rowsPerPage]="rowsPerPage"
                        (onOrderClick)="onOrderClick($event)"
                        (onPageChange)="onPageChange($event)"
            ></order-list>
            <app-loading *ngIf="loading"></app-loading>
        </div>
    </div>
</div>
