<nav aria-label="breadcrumb" class="no-print">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard/orders" translate="VENDOR.ORDERS.TITLE"></a></li>
        <li class="breadcrumb-item active" aria-current="page" translate="VENDOR.ORDER.DETAILS"></li>
    </ol>
</nav>
<h5 class="admin-title">
    {{'VENDOR.ORDER.TITLE' | translate}} {{orderId}}
    <app-order-badge [status]="orderInfo?.status" class="float-sm-right"></app-order-badge>
</h5>

<div class="row">
    <div class="col-md-7">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="card-title" translate="VENDOR.ORDER.PRODUCTS.TITLE"></div>
                <app-order-product-list *ngIf="orderInfo" [orderInfo]="orderInfo"></app-order-product-list>
            </div>
        </div>
        <div class="row" *ngIf="orderInfo">
            <div class="col-12">
                <div class="main-card mb-3 card">
                    <form [formGroup]="orderStatusForm" (ngSubmit)="changeOrderStatus()">
                        <div class="card-body">
                            <div class="card-title">Stare comanda</div>
                            <div class="outline-select">
                                <select formControlName="status">
                                    <option *ngFor="let status of orderStatuses"
                                            [value]="status.value">{{"ORDERS.STATUSES." + status.label | translate}}
                                    </option>
                                </select>
                                <span class="select-icon"><i class="icofont-caret-down"></i></span>
                            </div>

                            <div class="card-title">Mesaj catre utilizator</div>
                            <textarea formControlName="vendorRemarks" cols="30" rows="2" class="form-control"></textarea>
                            <button type="submit" class="food-btn style-3 mt-3 float-right"><span>Salveaza</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <app-order-summary [orderInfo]="orderInfo"></app-order-summary>

    </div>
</div>
