<div [ngClass]="displayType === 'grid' ? 'product-item' : 'product-list-item'">
    <div class="product-thumb">
        <div class="skeleton-box picture"></div>
    </div>
    <div class="product-content">
        <h6>
            <div class="skeleton-box title"></div>
        </h6>
        <h6>
            <div class="skeleton-box price"></div>
        </h6>
        <div *ngIf="displayType === 'list'">
            <div class="skeleton-box content-row"></div>
            <div class="skeleton-box content-row"></div>
            <div class="skeleton-box content-row"></div>
        </div>
    </div>
</div>
