.picture {
    width: 100%;
    height: 200px;
}

.title {
    width: 200px;
    height: 16px;
}

.price {
    width: 60px;
    height: 16px;
}

.content-row {
    margin-top: 10px;

    width: 100%;
    height: 16px;
}
