<article>
    <div class="shop-title d-flex flex-wrap justify-content-between" *ngIf="config.displayHeader && !listLoading && products.length">
        <div *ngIf="listLoading" class="skeleton-box" style="width: 200px; height: 20px;"></div>
        <p *ngIf="!listLoading">Afisez {{pagination?.totalElements}} rezultate</p>

        <div class="product-view-mode">
            <a [class.active]="displayType === 'grid'" (click)="setListType('grid')"><i class="icofont-ghost"></i></a>
            <a [class.active]="displayType === 'list'" (click)="setListType('list')"><i class="icofont-listing-box"></i></a>
        </div>
    </div>

    <div class="shop-product-wrap row" [ngClass]="displayType" *ngIf="listLoading">
        <div class="col-12" [ngClass]="displayType === 'grid' ? rowClass + ' col-md-6' : ''" *ngFor="let number of [0,1,2,3,4,5,6,7,8]">
            <app-product-item-skeleton [displayType]="displayType"></app-product-item-skeleton>
        </div>
    </div>
    <div class="shop-product-wrap row" [ngClass]="displayType" *ngIf="!listLoading && products.length">
        <div class="col-12" [ngClass]="displayType === 'grid' ? rowClass + ' col-md-6' : ''" *ngFor="let product of products">
            <app-product-item [displayType]="displayType" [product]="product" (onAddToCart)="addToCart($event)"></app-product-item>
        </div>
    </div>

    <div class="paginations" *ngIf="config.paginated">
        <ul class="d-flex flex-wrap justify-content-center">
            <li>
                <a href="#">1</a>
            </li>
            <li class="d-none d-sm-block">
                <a href="#">2</a>
            </li>
            <li class="d-none d-sm-block">
                <a href="#">3</a>
            </li>
            <li>
                <a class="dot">...</a>
            </li>
            <li class="d-none d-sm-block">
                <a href="#">9</a>
            </li>
            <li class="d-none d-sm-block">
                <a href="#">10</a>
            </li>
            <li>
                <a href="#">11</a>
            </li>
        </ul>
    </div>
</article>
