
<section class="banner">
    <div class="shape-1">
        <img src="assets/images/banner/shape/01.png" alt="banner">
    </div>
    <div class="shape-2">
        <img src="assets/images/banner/shape/02.png" alt="banner">
    </div>
    <div class="banner-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-12">
                    <div class="banner-content">
                        <h2 translate="HOME.SLIDER.TITLE"></h2>
                        <form action="/">
                            <p-autoComplete [suggestions]="shippingLocations"
                                            (completeMethod)="filterCity($event)"
                                            (onSelect)="selectLocation($event)"
                                            field="name"
                                            [size]="30"
                                            placeholder="Locația de livrare (localitate/sector)" [minLength]="1"></p-autoComplete>
                            <button type="submit"><i class="icofont-search-2"></i></button>

                        </form>
                        <ul *ngIf="false">
                            <li><span>700+</span>{{'HOME.SLIDER.PRODUCERS' | translate}}</li>
                            <li><span>6900+</span>{{'HOME.SLIDER.ORDERS' | translate}}</li>
                            <li><span>6900+</span>{{'HOME.SLIDER.USERS' | translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section Ending Here -->


<!-- Food Catagory Section Start here -->
<section class="food-category padding-tb">
    <div class="container">
        <div class="food-box">
            <div class="section-header">
                <h3 translate="HOME.CATEGORIES.TITLE"></h3>
                <p translate="HOME.CATEGORIES.SUBTITLE"></p>
            </div>
            <div class="section-wrapper">
                <div class="food-slider">
                    <div class="swiper-wrapper">
                        <p-carousel [value]="sliderCategories" [numVisible]="6" [numScroll]="3" [responsiveOptions]="sliderResponsiveOptions" [circular]="true">
                            <ng-template let-category pTemplate="item">
                                <div class="swiper-slide">
                                    <div class="food-item">
                                        <div class="food-thumb">
                                            <a [routerLink]="category.urlSlug"><img [src]="category.imageUrl" alt="food"></a>
                                        </div>
                                        <div class="food-content">
                                            <a [routerLink]="category.urlSlug">{{category.name}}</a>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Food Catagory Section Ending here -->

<!-- Food Services Section Start here -->
<section class="food-services padding-tb">
    <div class="container">
        <div class="section-header">
            <h3 translate="HOME.HOW_IT_WORKS.TITLE"></h3>
            <p translate="HOME.HOW_IT_WORKS.SUBTITLE"></p>
        </div>
        <div class="section-wrapper">
            <div class="service-item">
                <div class="service-inner">
                    <div class="service-thumb">
                        <img src="assets/images/service/01.png" alt="food-service">
                        <span>01</span>
                    </div>
                    <div class="service-content">
                        <h6><a href="#"  translate="HOME.HOW_IT_WORKS.STEPS.1"></a></h6>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-inner">
                    <div class="service-thumb">
                        <img src="assets/images/service/02.png" alt="food-service">
                        <span>02</span>
                    </div>
                    <div class="service-content">
                        <h6><a href="#" translate="HOME.HOW_IT_WORKS.STEPS.2"></a></h6>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-inner">
                    <div class="service-thumb">
                        <img src="assets/images/service/03.png" alt="food-service">
                        <span>03</span>
                    </div>
                    <div class="service-content">
                        <h6><a href="#" translate="HOME.HOW_IT_WORKS.STEPS.3"></a></h6>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-inner">
                    <div class="service-thumb">
                        <img src="assets/images/service/04.png" alt="food-service">
                        <span>04</span>
                    </div>
                    <div class="service-content">
                        <h6><a href="#" translate="HOME.HOW_IT_WORKS.STEPS.4"></a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Food Services Section Ending here -->

<!-- Popular Food Section Start Here -->
<section class="popular-foods padding-tb" style="background-color: #f3f3f3;">
    <div class="container">
        <div class="section-header">
            <h3>Producatori populari</h3>
            <p>Producatori ce au produs un impact simnificativ in randul comunitatii</p>
        </div>
        <div class="section-wrapper">

            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-6 col-12" *ngFor="let vendor of popularVendors">
                    <app-vendor [vendor]="vendor"></app-vendor>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Popular Food Section Ending Here -->

<app-vendor-registration></app-vendor-registration>
