@import "variables";
@import "mixins";

.food-category {
  background-image: url(/assets/bg-image/category-bg.jpg);
  background-size: cover;
}

::ng-deep {
  p-autoComplete {
    width: calc(100% - 80px);
    @include breakpoint(max-sm) {
      width: calc(100% - 50px);
    }

    .ui-autocomplete {
      width: 100%;
      input {
        width: 100%!important;
      }
    }
    .ui-autocomplete-items {
      width:100%;
      li {
        width: 100%!important;
        padding-left: 15px!important;
        span {
          font-weight: 300!important;
        }
        &:before {
          content: none!important;
        }
        &.ui-state-highlight {
          background: $theme-color!important;
        }
      }
    }
  }
}
