<app-page-title heading="Categorii"></app-page-title>
<section class="recipe-categori padding-tb home-3 bg-body">
    <div class="container">
        <div class="section-wrapper">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6 col-12" *ngFor="let category of categories | async">
                    <div class="recipe-item" [routerLink]="category.urlSlug">
                        <div class="recipe-thumb">
                            <img [src]="category.imageUrl" alt="food-recipe">
                        </div>
                        <div class="recipe-content">
                            <a [routerLink]="category.urlSlug">{{category.name}} ({{category.productCount}})</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
