<div class="widget">
    <h4>Contul meu</h4>
    <hr>
    <div *ngIf="user">
        <div class="row">
            <div class="col-12 col-md-6">
                <p><strong>Nume: </strong> {{ user.fullName }}</p>
                <p><strong>Email: </strong> {{ user.email }}</p>
                <p><strong>Membru din: </strong> {{ user.createdAt | date: 'dd MMM yyyy' }}</p>
                <p><strong>Ultima actualizare: </strong> {{ user.updatedAt | date: 'dd MMM yyyy' }}</p>
                <button class="food-btn style-3" routerLink="/user/settings"><span>Modifica detalii cont</span></button>
            </div>
        </div>
    </div>
</div>
