<div class="widget">
    <h4 translate="GENERAL.MY_ACCOUNT"></h4>
    <hr>
    <div *ngIf="user">
        <div class="row">
            <div class="col-12 col-md-6">
                <p><strong translate="ACCOUNT.NAME"></strong> {{ user.fullName }}</p>
                <p><strong translate="ACCOUNT.EMAIL"></strong> {{ user.email }}</p>
                <p><strong translate="ACCOUNT.MEMBER_FROM"></strong> {{ user.createdAt | date: 'dd MMM yyyy' }}</p>
                <p><strong translate="ACCOUNT.LAST_EDIT"></strong> {{ user.updatedAt | date: 'dd MMM yyyy' }}</p>
                <button class="food-btn style-3" routerLink="/user/settings"><span translate="GENERAL.ACCOUNT_SETTINGS"></span></button>
            </div>
            <div class="col-md-6 text-center">
                <img [src]="user.profilePicture" alt="" *ngIf="user.profilePicture" class="mt-2 w-50">
            </div>
        </div>
    </div>
</div>
