<h1 class="page-title">
    {{company.name}}
    <button class="btn btn-outline-success float-right" routerLink="login">Go back</button>
</h1>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                About
            </div>
            <div class="card-body">
                {{company.description}}
                <hr/>
                Looking for:
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Company details
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
