<!-- Mobile Menu Start Here -->
<div class="mobile-menu">
    <nav class="mobile-header d-xl-none">
        <div class="header-logo">
            <a routerLink="/home" class="logo"><img src="assets/images/logo/logo.png" alt="logo"></a>
        </div>
        <div class="header-bar" (click)="menuOpen = !menuOpen" [class.close]="menuOpen">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <nav class="menu" [class.open]="menuOpen">
        <div class="mobile-menu-area d-xl-none">
            <div class="mobile-menu-area-inner scrollbar">
                <div class="mobile-search">
                    <input type="text" placeholder="Cauta produs">
                    <button type="submit"><i class="icofont-search-2"></i></button>
                </div>
                <ul>
                    <li *ngFor="let menu of menuItems">
                        <a [routerLink]="menu.link" [routerLinkActive]="'active'">{{menu.title}}</a>
                        <ul *ngIf="menu.children && menu.children.length">
                            <li *ngFor="let children of menu.children"><a class="active" [routerLink]="menu.link">{{menu.title}}</a></li>
                        </ul>
                    </li>

                </ul>
                <div class="scocial-media">
                    <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                    <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                    <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
                    <a href="#" class="vimeo"><i class="icofont-vimeo"></i></a>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Mobile Menu Ending Here -->

<!-- header section start -->
<header class="header-section d-xl-block d-none">
    <div class="container-fluid">
        <div class="header-area">
            <div class="logo">
                <a routerLink="/home"><img src="assets/images/logo/logo.png" alt="logo"></a>
            </div>
            <div class="main-menu">
                <ul>
                    <li *ngFor="let menu of menuItems">
                        <a [routerLink]="menu.link" [routerLinkActive]="'active'">{{menu.title}}</a>
                        <ul *ngIf="menu.children && menu.children.length">
                            <li *ngFor="let childMenu of menu.children"><a [routerLink]="childMenu.link" [routerLinkActive]="'active'">{{childMenu.title}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="author-option">
                <div class="author-area">
                    <div class="cart-option">
                       <app-header-cart></app-header-cart>
                    </div>
                    <div class="author-account">
                       <app-header-account></app-header-account>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header section ending -->
