<!-- Mobile Menu Start Here -->
<div class="mobile-menu">
    <nav class="mobile-header d-xl-none">
        <div class="header-logo">
            <a routerLink="/home" class="logo"><img src="assets/images/logo/logo.png" alt="logo"></a>
        </div>
        <div class="header-icons">
            <i class="icofont-search-2" (click)="onSearch()"></i>
            <i class="icofont-google-map" (click)="onPickLocation()"></i>
        </div>
        <div class="header-bar" (click)="menuOpen = !menuOpen; categoriesOpen=false;" [class.close]="menuOpen">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <nav class="menu" [class.open]="menuOpen">
        <div class="mobile-menu-area d-xl-none">
            <div class="mobile-menu-area-inner scrollbar">
                <ul>
                    <li>
                        <a routerLink="/home" [routerLinkActive]="'active'" translate="MENU.HOME"></a>
                    </li>
                    <li>
                        <a routerLink="/vendor" [routerLinkActive]="'active'" translate="MENU.PRODUCERS"></a>
                    </li>
                    <li [class.open]="categoriesOpen">
                        <a (click)="categoriesOpen = !categoriesOpen" class="dd-icon-down">Categorii</a>
                        <ul [class.d-block]="categoriesOpen">
                            <li *ngFor="let menu of categoryMenus">
                                <a [routerLink]="menu.link" [routerLinkActive]="'active'">{{menu.title}}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/contact" [routerLinkActive]="'active'" translate="MENU.CONTACT"></a>
                    </li>
                </ul>
                <app-header-account class="header-account"></app-header-account>

                <div class="scocial-media">
                    <a href="#" class="facebook mr-3"><i class="icofont-facebook"></i></a>
                    <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Mobile Menu Ending Here -->

<!-- header section start -->
<header class="header-section d-xl-block d-none">
    <div class="container-fluid">
        <div class="header-area">
            <div class="logo">
                <a routerLink="/home"><img src="assets/images/logo/logo.png" alt="logo"></a>
            </div>
            <app-shipping-location-picker></app-shipping-location-picker>
            <div class="main-menu">
                <ul>
                    <li>
                        <a routerLink="/home" [routerLinkActive]="'active'" translate="MENU.HOME"></a>
                    </li>
                    <li>
                        <a routerLink="/vendor" [routerLinkActive]="'active'" translate="MENU.PRODUCERS"></a>
                    </li>
                    <li>
                        <a routerLink="/categories" [routerLinkActive]="'active'" class="dd-icon-right" translate="MENU.CATEGORIES"></a>
                        <ul>
                            <li *ngFor="let menu of categoryMenus">
                                <a [routerLink]="menu.link" [routerLinkActive]="'active'">{{menu.title}}</a>
                                <ul *ngIf="menu.children && menu.children.length">
                                    <li *ngFor="let child of menu.children">
                                        <a class="active" [routerLink]="child.link">{{child.title}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/contact" [routerLinkActive]="'active'" translate="MENU.CONTACT"></a>
                    </li>
                </ul>
            </div>
            <div class="author-option">
                <div class="author-area">
                    <div class="search-start" (click)="onSearch()">
                        <i class="icofont-search-2"></i>
                    </div>
                    <app-header-cart></app-header-cart>
                    <div class="author-account">
                        <app-header-account></app-header-account>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header section ending -->
