nav {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(57, 73, 76, .35);

  .nav-item {
    a {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 500;
    }
  }

  padding: 15px;
  margin-bottom: 15px;
}

.main-color {
  color: dodgerblue;
}

.profile {
  position: relative;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ddd;
    cursor: pointer;
    margin-top: -4px;
    margin-left: 15px;

    &:hover {
      border-color: dodgerblue;

    }
  }

  font-weight: 500;
  font-size: 0.9em;

  .dropdown-menu {
    font-size: 14px;
    a {

      text-transform: none;
    }
  }
}



@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: initial;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
