<div class="d-flex bg-body info-container">
    <div class="bg-light border-right sidebar-wrapper no-print">
        <div class="sidebar-heading">Panou producator</div>
        <div class="list-group list-group-flush">
            <a routerLink="/dashboard/overview" routerLinkActive="active" class="list-group-item">{{'VENDOR.DASHBOARD.TITLE' | translate}}</a>
            <a routerLink="/dashboard/orders" routerLinkActive="active" class="list-group-item">{{'VENDOR.ORDERS.TITLE' | translate}}
                <span class="newOrders" *ngIf="newOrders">{{newOrders}}</span>
            </a>
            <a routerLink="/dashboard/products" routerLinkActive="active" class="list-group-item">{{'VENDOR.PRODUCTS.TITLE' | translate}}</a>
            <a routerLink="/dashboard/shipping" routerLinkActive="active" class="list-group-item">{{'VENDOR.SHIPPING.TITLE' | translate}}</a>
            <a routerLink="/dashboard/payment" routerLinkActive="active" class="list-group-item">{{'VENDOR.PAYMENT.TITLE' | translate}}</a>
            <a routerLink="/dashboard/vendor" routerLinkActive="active" class="list-group-item">{{'VENDOR.DETAILS.TITLE' | translate}}</a>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="container-fluid py-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
