@import "variables";

.notifications {
  background: $youtube;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: inline-block;
  font-size: 12px;
}

.content-wrapper {
  width: 100%;
  min-height: 600px;
}

.sidebar-wrapper {
  .sidebar-heading {
    background: $theme-color;
    color: #fff;
    padding: 20px;
  }
  width: 220px;
}

::ng-deep {
  .admin-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px;
    font-weight: 300;
  }
}
