<div class="cart-item">
    <div class="cart-inner">
        <div class="cart-top">
            <div class="thumb">
                <a [routerLink]="cartItem.urlSlug"><img [src]="cartItem.imageFullPath" [alt]="cartItem.name"></a>
            </div>
            <div class="content">
                <a [routerLink]="cartItem.urlSlug">{{cartItem.name}}</a>
                <div>
                <strong>{{cartItem.quantity}}</strong> x {{cartItem.fullPrice}}
                </div>
            </div>
            <div class="remove-btn">
                <a (click)="removeItem(cartItem)"><i class="icofont-close"></i></a>
            </div>
        </div>
    </div>
</div>
