<div class="cart-item">
    <div class="cart-inner">
        <div class="cart-top">
            <div class="thumb">
                <a [routerLink]="cartItem.urlSlug"><img [src]="cartItem.imageUrl" [alt]="cartItem.name"></a>
            </div>
            <div class="content">
                <a [routerLink]="cartItem.urlSlug">{{cartItem.name}}</a>
            </div>
            <div class="remove-btn">
                <a (click)="removeItem(cartItem)"><i class="icofont-close"></i></a>
            </div>
        </div>
        <div class="cart-bottom">
            <div class="sing-price">{{cartItem.fullPrice}}</div>
            <div class="cart-plus-minus">
                <div class="dec qtybutton">-</div>
                <div class="dec qtybutton">-</div>
                <input class="cart-plus-minus-box" type="text" name="qtybutton" [value]="cartItem.quantity">
                <div class="inc qtybutton">+</div>
                <div class="inc qtybutton">+</div>
            </div>
            <div class="total-price">{{cartItem.price * cartItem.quantity}}</div>
        </div>
    </div>
</div>
