<table>
    <thead>
    <tr>
        <th translate="CART.PRODUCT"></th>
        <th translate="CART.UNIT_PRICE"></th>
        <th translate="CART.QUANTITY"></th>
        <th translate="CART.TOTAL"></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cartItem of cartProducts">
        <td class="product-item">
            <div class="p-thumb">
                <a [routerLink]="cartItem.urlSlug"><img [src]="cartItem.imageFullPath" [alt]="cartItem.name"></a>
            </div>
            <div class="p-content">
                <a [routerLink]="cartItem.urlSlug">{{cartItem.name}}</a>
            </div>
        </td>
        <td>{{cartItem.fullPrice}} / {{cartItem.unit}}</td>
        <td>
            <div class="cart-plus-minus">
                <div class="dec qtybutton" (click)="onCartSubstract(cartItem)">-</div>
                <input class="cart-plus-minus-box" type="text" name="qtybutton" [value]="cartItem.quantity" (blur)="onCartBlur($event.target.value, cartItem)">
                <div class="inc qtybutton" (click)="onCartAdd(cartItem)">+</div>
            </div>
        </td>
        <td>{{cartItem.computeFullPrice(cartItem.quantity)}}</td>
        <td>
            <a (click)="onCartRemove(cartItem)" class="delete-item"><img src="assets/images/shop/del.png" alt="product"></a>
        </td>
    </tr>
    </tbody>
</table>
