<h5 class="admin-title">{{'VENDOR.DASHBOARD.TITLE' | translate}}</h5>

<div class="row">
    <div class="col-md-8">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="card-title">Comenzi nepreluate</div>
                <order-list [totalRecords]="totalRecords" [loading]="loading" [orders]="orders" [rowsPerPage]="rowsPerPage"
                            (onOrderClick)="onOrderClick($event)"></order-list>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="card-title">Statistici comenzi</div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="card-title">Sumar comenzi</div>
            </div>
        </div>
    </div>
</div>
