<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="card-title">Istoric comanda</div>

        <div *ngFor="let status of history" class="row border-light mb-2">
            <div class="col-5">
                <app-order-badge [status]="status.next"></app-order-badge>
            </div>
            <div class="col-7">
                {{status.createdAt | date: 'medium'}}
            </div>
            <div class="col-12">
                <i>{{status.remarks}}</i>

            </div>
        </div>
    </div>
</div>
