<div class="widget">
    <h4 translate="GENERAL.ACCOUNT_SETTINGS"></h4>
    <hr>
    <div *ngIf="userSettingsForm">
        <form [formGroup]="userSettingsForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="last-name" translate="ACCOUNT.NAME"></label>
                        <input class="form-control" id="last-name" type="text" formControlName="lastName">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="first-name" translate="ACCOUNT.SURNAME"></label>
                        <input class="form-control" id="first-name" type="text" formControlName="firstName">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="phone" translate="ACCOUNT.PHONE"></label>
                <input class="form-control" id="phone" type="text" formControlName="phone">
            </div>
            <div class="form-group">
                <label for="client-address" translate="ACCOUNT.ADDRESS"></label>
                <input class="form-control" id="client-address" type="text" formControlName="address">
            </div>
            <form *ngIf="userSettingsForm.isVendor()" [formGroup]="userSettingsForm.getVendorForm()">
                <br>
                <h4>Informatii furnizor</h4>
                <hr>
                <div class="form-group">
                    <label for="business-name">Numele afacerii</label>
                    <input class="form-control" id="business-name" type="text" formControlName="businessName">
                </div>
                <div class="form-group">
                    <label for="address">Adresa</label>
                    <input class="form-control" id="address" type="text" formControlName="address">
                </div>
            </form>
            <div class="buttons-wrapper">
                <button type="submit" class="btn btn-success" [disabled]="userSettingsForm.invalid" translate="GENERAL.BUTTONS.UPDATE"></button>
                <button *ngIf="userSettingsForm.dirty" class="btn btn-secondary" (click)="initializeUserForm()" translate="GENERAL.BUTTONS.RESET"></button>
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <div class="widget">
            <h5 translate="GENERAL.ACCOUNT_CHANGE_EMAIL"></h5>
            <hr>
            <form [formGroup]="userChangeEmailForm" (ngSubmit)="changeEmail()">
                <div class="form-group">
                    <label for="email" translate="ACCOUNT.NEW_EMAIL"></label>
                    <input class="form-control" id="email" type="text" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="email-again" translate="ACCOUNT.EMAIL_AGAIN"></label>
                    <input class="form-control" id="email-again" type="text" formControlName="confirmEmail">
                </div>
                <div class="buttons-wrapper">
                    <button type="submit" class="btn btn-success" [disabled]="userChangeEmailForm.invalid" translate="GENERAL.BUTTONS.UPDATE"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="widget">
            <h5 translate="GENERAL.ACCOUNT_CHANGE_PASSWORD"></h5>
            <hr>
            <form [formGroup]="userChangePasswordForm" (ngSubmit)="changePassword()">
                <div class="form-group">
                    <label for="password" translate="ACCOUNT.NEW_PASSWORD"></label>
                    <input class="form-control" id="password" type="password" formControlName="password">
                </div>
                <div class="form-group">
                    <label for="password-again" translate="ACCOUNT.NEW_PASSWORD_AGAIN"></label>
                    <input class="form-control" id="password-again" type="password" formControlName="confirmPassword">
                </div>
                <div class="buttons-wrapper">
                    <button type="submit" class="btn btn-success" [disabled]="userChangePasswordForm.invalid" translate="GENERAL.BUTTONS.UPDATE"></button>
                </div>
            </form>
        </div>
    </div>
</div>
