<div class="shop-page single padding-tb pb-0">
    <div class="container">
        <div class="section-wrapper">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-12">
                    <article>
                        <div class="shop-single">
                            <div class="row justify-content-center">
                                <div class="col-md-6 col-12 gallery-thumbs">
                                    <div class="shop-item">
                                        <div class="shop-thumb">
                                            <img [src]="productDetails?.imageFullPath" [alt]="productDetails?.name" *ngIf="!productInformationLoading"
                                                 (click)="openGallery(0)">
                                            <div class="skeleton-box product-skeleton" *ngIf="productInformationLoading"></div>
                                        </div>
                                    </div>
                                    <div class="row mt-4" *ngIf="!productInformationLoading">
                                        <div *ngFor="let image of productDetails?.images; let i = index;" class="col-4 mb-3">
                                            <div class="shop-item">
                                                <div class="shop-thumb">
                                                    <img [src]="image.url" [alt]="productDetails?.name" (click)="openGallery(i)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="shop-single-content">
                                        <div class="title">
                                            <h5><a href="#">{{productDetails?.name}}</a></h5>
                                            <div class="p-food-group">
                                                <a [routerLink]="productDetails?.vendor.urlSlug">{{productDetails?.vendor.businessName}}</a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <p>{{productDetails?.description}}</p>
                                            <ul>
                                                <li *ngIf="vendorDetails?.freeShippingOver">{{'GENERAL.FREE_SHIPPING_OVER' |translate }}
                                                    <strong>{{vendorDetails?.freeShippingOver}} {{vendorDetails?.currency.code}}</strong></li>
                                                <li>{{'GENERAL.SHIPPING_COST' | translate}}: <strong>{{vendorDetails?.shippingCost}} {{vendorDetails?.currency.code}}</strong></li>
                                                <li>{{'GENERAL.MIN_ORDER' | translate}}: <strong>{{vendorDetails?.minOrder}} {{vendorDetails?.currency.code}}</strong></li>
                                                <li *ngIf="vendorDetails?.certificate"><a [href]="vendorDetails?.certificate" class="theme-color" target="_blank">Detin certificat producator</a></li>
                                                <li>Vandut de: <a [routerLink]="vendorDetails?.urlSlug"
                                                                  class="theme-color font-weight-bold">{{vendorDetails?.businessName}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xl-4 col-md-5 col-12">
                    <aside>
                        <div class="popular-chef-widget">
                            <div class="food-quyality">
                                <div class="section-header">
                                    <p>{{'GENERAL.AVAILABILITY' | translate}}: <span *ngIf="productDetails?.stock">{{'GENERAL.IN_STOCK' | translate}}</span>
                                        <span *ngIf="!productDetails?.stock" class="text-danger">{{'GENERAL.OUT_OF_STOCK' | translate}}</span>
                                    </p>
                                </div>
                                <div class="section-wrapper">
                                    <form [formGroup]="addToCartForm" (ngSubmit)="addToCart(productDetails)">
                                        <h5>{{productDetails?.price | aproCurrency: productDetails?.currency}} / {{productDetails?.unit}}</h5>
                                        <p *ngIf="productDetails?.stock">{{'GENERAL.QUANTITY' | translate}}</p>
                                        <label *ngIf="productDetails?.stock">
                                            <input type="number" class="form-control" formControlName="quantity" placeholder="0.5" step="0.5" min="0">
                                        </label>
                                        <button type="submit" class="food-btn style-2" *ngIf="productDetails?.stock" [disabled]="addToCartForm.invalid">
                                            <span>{{'GENERAL.ADD_TO_CART' | translate}}</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="review single padding-tb">
    <div class="container">
        <div class="section-wrapper">
            <div class="related">
                <ul class="tab-bar">
                    <li class="tablinks" [class.active]="selectedTab === 1" id="defaultOpen" (click)="selectTab(1)">
                        <span>Alte produse de la acelasi producator</span>
                    </li>
                    <li class="tablinks" [class.active]="selectedTab === 2" (click)="selectTab(2)">
                        <span>Despre producator</span>
                    </li>
                </ul>
                <div id="one" class="tabcontent" *ngIf="selectedTab === 1">
                    <app-related-products [products]="relatedProducts" [productListLoading]="relatedProductsLoading"></app-related-products>
                </div>
                <div id="two" class="tabcontent" *ngIf="selectedTab === 2">
                    <app-vendor-information [vendor]="vendorDetails" *ngIf="vendorDetails"></app-vendor-information>
                </div>
            </div>
        </div>
    </div>
</div>
