<div class="shop-page single padding-tb pb-0">
    <div class="container">
        <div class="section-wrapper">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-12">
                    <article>
                        <div class="shop-single">
                            <div class="row justify-content-center">
                                <div class="col-md-6 col-12">
                                    <div class="shop-item">
                                        <div class="shop-thumb">
                                            <img [src]="productDetails?.imageFullPath" [alt]="productDetails?.name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="shop-single-content">
                                        <div class="title">
                                            <h5><a href="#">{{productDetails?.name}}</a></h5>
                                            <div class="p-food-group">
                                                <a href="#">Rosii</a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <p>{{productDetails?.description}}</p>
                                            <ul>
                                                <li *ngIf="vendorDetails?.freeShippingOver">Livrare gratuita pentru comenzi peste {{vendorDetails?.freeShippingOver}} lei</li>
                                                <li>Pret livrare: {{vendorDetails?.shippingCost}} lei</li>
                                                <li>Detin certificat producator</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xl-4 col-md-5 col-12">
                    <aside>
                        <div class="popular-chef-widget">
                            <div class="food-quyality">
                                <div class="section-header">
                                    <p>Disponibilitate: <span *ngIf="productDetails?.stock">In stoc</span>
                                        <span *ngIf="!productDetails?.stock" class="text-danger">Indisponibil</span>
                                    </p>
                                </div>
                                <div class="section-wrapper">
                                    <form [formGroup]="addToCartForm" (ngSubmit)="addToCart(productDetails)">
                                        <h5>{{productDetails?.fullPrice}} / {{productDetails?.unit}}</h5>
                                        <p *ngIf="productDetails?.stock">Cantitate</p>
                                        <label *ngIf="productDetails?.stock">
                                            <input type="number" class="form-control" formControlName="quantity" placeholder="0.5" step="0.5" min="0">
                                        </label>
                                        <button type="submit" class="food-btn style-2" *ngIf="productDetails?.stock" [disabled]="addToCartForm.invalid"><span>Adauga in cos</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="review single padding-tb">
    <div class="container">
        <div class="section-wrapper">
            <div class="related">
                <ul class="tab-bar">
                    <li class="tablinks active" id="defaultOpen" onclick="openCity(event, 'one')">
                        <span>Alte produse de la acelasi producator</span>
                    </li>
                    <li class="tablinks" onclick="openCity(event, 'two')">
                        <span>Description</span>
                    </li>
                </ul>
                <div id="one" class="tabcontent" style="display: block;">
                    <app-related-products [products]="relatedProducts" [productListLoading]="relatedProductsLoading"></app-related-products>
                </div>
                <div id="two" class="tabcontent" style="display: none;">
                    <div class="Description">
                        <h5>50 Foods That Are Super Healthy</h5>
                        <p>Here we provide details of the top 15 foods considered to be the most healthy, according to surveys and sources across the United States and Western Europe. There are
                            numerous diets that promote weight loss, sometimes in an unhealthy way. Fad crash dieting, for instance, is potentially dangerous. At the same time, in America, we eat an
                            estimated 100 acres of pizza each day. Understanding which foods are healthful and trying to include them in our diet could benefit the nation.The most important thing to
                            remember, is that a balanced diet is the true secret to healthful eating.</p>
                        <h5>Belgian Cuisine</h5>
                        <p>Here we provide details of the top 15 foods considered to be the most healthy, according to surveys and sources across the United States and Western Europe. There are
                            numerous diets that promote weight loss, sometimes in an unhealthy way. Fad crash dieting, for instance, is potentially dangerous. At the same time, in America, we eat an
                            estimated 100 acres of pizza each day. Understanding which foods are healthful and trying to include them in our diet could benefit the nation.The most important thing to
                            remember, is that a balanced diet is the true secret to healthful eating.</p>
                        <p>Here we provide details of the top 15 foods considered to be the most healthy, according to surveys and sources across the United States and Western Europe. There are
                            numerous diets that promote weight loss, sometimes in an unhealthy way. Fad crash dieting, for instance, is potentially dangerous. At the same time, in America, we eat an
                            estimated 100 acres of pizza each day. Understanding which foods are healthful and trying to include them in our diet could benefit the nation.The most important thing to
                            remember, is that a balanced diet is the true secret to healthful eating.</p>
                        <p>Here we provide details of the top 15 foods considered to be the most healthy, according to surveys and sources across the United States and Western Europe. There are
                            numerous diets that promote weight loss, sometimes in an unhealthy way. Fad crash dieting, for instance, is potentially dangerous. At the same time, in America, we eat an
                            estimated 100 acres of pizza each day. Understanding which foods are healthful and trying to include them in our diet could benefit the nation.The most important thing to
                            remember, is that a balanced diet is the true secret to healthful eating.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
