@import "variables";

.btn-fb {
  border-color: #3b5998;
  background-color: #3b5998;
  color: #fff;
  height: 46px;
  line-height: 1;
  padding: 15px 53px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
}

.alternativa {
  margin: 20px 0;
  text-align: center;
  position: relative;

  span {
    display: inline-block;
    padding: 0 15px;
    background: #fff;
    z-index: 4;
    position: relative;
  }

  &::after {
    content: "";
    position: absolute;
    left: 15%;
    width: 70%;
    border-top: 1px solid $border-color;
    top: 10px;
  }
}
