<div class="blog-section blog-single recepi-single padding-tb bg-body">
    <div class="container">
        <div class="section-wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-12">
                    <aside>
                        <div class="widget widget-author">
                            <div class="widget-header">
                                <h5>Autentificare</h5>
                            </div>
                            <div class="widget-wrapper">
                                <div class="admin-thumb">
                                    <img src="assets/images/chef/author/08.jpg" alt="author">
                                </div>
                                <div class="admin-content">
                                    <p>Hey hey! I'm Lindsay and this is my websiteThanks for being here! I'm a yoga instructor I write about all of those...</p>
                                    <div class="scocial-media">
                                        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                                        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                                        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
                                        <a href="#" class="vimeo"><i class="icofont-vimeo"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
