<div class="blog-section blog-single recepi-single padding-tb bg-body">
    <div class="container">
        <div class="section-wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-12">
                    <aside>
                        <div class="widget widget-author">
                            <div class="widget-header text-center">
                                <h5>Resetare parola</h5>
                            </div>
                            <div class="widget-wrapper">
                                <form class="justify-content-center" [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Parola noua</label>
                                                <input type="password" class="form-control" formControlName="password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Repeta Parola</label>
                                                <input type="password" class="form-control" formControlName="confirmPassword">
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="food-btn style-3" [disabled]="passwordResetForm.invalid"><span>Reseteaza parola</span></button>
                                </form>

                                <div class="text-center">
                                    <a routerLink="../login">Autentificare</a>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
