<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h5 class="admin-title">
        {{'VENDOR.SHIPPING.TITLE' | translate}}
        <button type="submit" class="btn btn-success float-right"><i class="icofont-save mr-3"></i>Salveaza</button>
    </h5>
    <div class="row mt-2">
        <div class="col-md-12">
            <div class="main-card mb-3 card p-2">
                <div class="form-group">
                    <label>Livrare la adresa</label>
                    <div class="shippingLocations">
                    <ul>
                        <li *ngFor="let control of categoriesFormArr?.controls; let i = index" class="checkbox">
                            <label>
                                <p-inputSwitch [formControl]="control"></p-inputSwitch>
                                <span>{{ shippingLocations[i]?.name }}</span>
                            </label>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
