textarea {
  min-height: 100px;
  margin-bottom: 10px;
}
.shippingLocations {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin-top: 10px;

  ul {
    li {
      label {
        cursor: pointer;
        display: flex;
        align-items: center;

        span {
          padding-left: 15px;
        }

        &:hover {
          background: #fafafa;
        }
      }
    }
  }
}
