h4 {
  font-size: 21px;
}

.company-list {
  padding: 0;
}

/* Widget Title */
.widget {
  .offer-type-filter {
    border: 1px solid #f4f4f4;
    text-align: center;

    li {
      margin: 0 -2px;
      border: none;
      border-right: 1px solid #f4f4f4;

      a {
        position: relative;
        margin: -1px 0 -1px 1px;
        padding: 12px 24px 13px;
        display: block;
        font-size: 13px;
        color: #a2a4a5;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        text-decoration: none;

        &:hover {
          background-color: #efefef;
          text-decoration: none;
          -webkit-transition: all .2s linear;
          -moz-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear;
        }

        &.active {
          color: #fff;
          background-color: #5b0f70;
          border: 1px solid #5b0f70;

          &:after {
            position: absolute;
            top: 6px;
            font-family: 'FontAwesome';
            content: '\f0d9';
            color: #fff;
            font-size: 24px;
            right: -5px;
            z-index: 0;
          }
        }
      }
    }
  }

  .offer-cat-filter {
    li {
      margin-left: 1px;
      border: none;
      border-bottom: 1px solid #f4f4f4;

      &:hover {
        a {
          background-color: #efefef;
          transition: all .2s linear;
          text-decoration: none;
          color: #5b0f70;

          i {
            background-color: #5b0f70;
            color: #fff;
            transition: all .2s linear;
          }
        }
      }

      a {
        position: relative;
        display: block;
        padding-left: 13px;
        color: #515151;
        font-size: 13px;
        line-height: 37px;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;


        i {
          height: 37px;
          width: 40px;
          font-size: 15px;
          line-height: 36px;
          color: #c1c2c2;
          border-right: 1px solid #f4f4f4;
          text-align: center;
          margin-left: -14px;
          margin-right: 10px;
          -webkit-transition: all .2s linear;
          -moz-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear;
        }
      }

      &:last-child {
        margin-left: 0;
        border-bottom: none;

        a {
          padding-left: 14px;
          color: #27282c;

          i {
            float: right;
            margin: 0;
            border-right: none;
            border-left: 1px solid #f4f4f4;
            text-align: center;
            -webkit-transition: all .2s linear;
            -moz-transition: all .2s linear;
            -o-transition: all .2s linear;
            transition: all .2s linear;
          }
        }

        &:hover {
          a {
            background-color: #efefef;
            -webkit-transition: all .2s linear;
            -moz-transition: all .2s linear;
            -o-transition: all .2s linear;
            transition: all .2s linear;

            i {
              background-color: #5b0f70;
              color: #fff;
              -webkit-transition: all .2s linear;
              -moz-transition: all .2s linear;
              -o-transition: all .2s linear;
              transition: all .2s linear;
            }
          }
        }
      }
    }
  }
}
