@import "variables";

.dropzone {
  border: 3px dashed $navy;
  padding: 20px;
  text-align: center;
  background: lighten($navy, 40%);
  cursor: pointer;
}

.photo-container {
  overflow: auto;
}

.new-images {
  background: #f6ffd0;
  padding: 20px 0;
}

h6 {
  margin: 10px 0;
}

.upload-icon {
  font-size: 24px;
}

.image {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 5px;
  float: left;

  .previewIcon {
    width: 100px;
    height: 100px;
    background-size: cover;
  }

  .trash {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #aa0b0b;
    font-size: 15px;
    background: #fff;
    padding: 5px;
  }
}

