<div
    class="dropzone"
    ngfDrop
    multiple="1"
    selectable="1"
    [(validDrag)]="validComboDrag"
    [(files)]="files"
    accept="image/*"
    [maxSize]="maxSize"
    [(lastInvalids)]="lastInvalids"
    [(dragFiles)]="dragFiles"
    [class.invalid-drag]="validComboDrag===false"
    [class.valid-drag]="validComboDrag"
    [fileDropDisabled]="fileDropDisabled"
    (filesChange)="writeValue($event)"
>
    Alegeti <strong>imagini</strong>
</div>
<div *ngIf="files.length">
    <h6>Imagini noi</h6>
    <div class="image" *ngFor="let item of files;let i=index">
        <div class="previewIcon" [ngfBackground]="item"></div>
        <i class="icofont-trash trash"
           (click)="onRemoveImage(i)"></i>
    </div>
</div>
