<img src="assets/images/header/cart.png" alt="shop-cart">
<div class="count-item">04</div>
<div class="cart-content">
    <div class="cart-title">
        <div class="add-item">4 produse in cos</div>
        <div class="list-close"><a href="#">Close</a></div>
    </div>
    <div class="cart-scr scrollbar">
        <div class="cart-con-item">
            <div class="cart-item">
                <div class="cart-inner">
                    <div class="cart-top">
                        <div class="thumb">
                            <a href="#"><img src="assets/images/popular-food/01.jpg" alt=""></a>
                        </div>
                        <div class="content">
                            <a href="#">Split Remedy Split End Shampoo</a>
                        </div>
                        <div class="remove-btn">
                            <a href="#"><i class="icofont-close"></i></a>
                        </div>
                    </div>
                    <div class="cart-bottom">
                        <div class="sing-price">Tk. 140</div>
                        <div class="cart-plus-minus">
                            <div class="dec qtybutton">-</div>
                            <div class="dec qtybutton">-</div>
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                            <div class="inc qtybutton">+</div>
                            <div class="inc qtybutton">+</div>
                        </div>
                        <div class="total-price">Tk. 280.00</div>
                    </div>
                </div>
            </div>
            <div class="cart-item">
                <div class="cart-inner">
                    <div class="cart-top">
                        <div class="thumb">
                            <a href="#"><img src="assets/images/popular-food/02.jpg" alt=""></a>
                        </div>
                        <div class="content">
                            <a href="#">Split Remedy Split End Shampoo</a>
                        </div>
                        <div class="remove-btn">
                            <a href="#"><i class="icofont-close"></i></a>
                        </div>
                    </div>
                    <div class="cart-bottom">
                        <div class="sing-price">Tk. 140</div>
                        <div class="cart-plus-minus">
                            <div class="dec qtybutton">-</div>
                            <div class="dec qtybutton">-</div>
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                            <div class="inc qtybutton">+</div>
                            <div class="inc qtybutton">+</div>
                        </div>
                        <div class="total-price">Tk. 280.00</div>
                    </div>
                </div>
            </div>
            <div class="cart-item">
                <div class="cart-inner">
                    <div class="cart-top">
                        <div class="thumb">
                            <a href="#"><img src="assets/images/popular-food/03.jpg" alt=""></a>
                        </div>
                        <div class="content">
                            <a href="#">Split Remedy Split End Shampoo</a>
                        </div>
                        <div class="remove-btn">
                            <a href="#"><i class="icofont-close"></i></a>
                        </div>
                    </div>
                    <div class="cart-bottom">
                        <div class="sing-price">Tk. 140</div>
                        <div class="cart-plus-minus">
                            <div class="dec qtybutton">-</div>
                            <div class="dec qtybutton">-</div>
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                            <div class="inc qtybutton">+</div>
                            <div class="inc qtybutton">+</div>
                        </div>
                        <div class="total-price">Tk. 280.00</div>
                    </div>
                </div>
            </div>
            <div class="cart-item">
                <div class="cart-inner">
                    <div class="cart-top">
                        <div class="thumb">
                            <a href="#"><img src="assets/images/popular-food/04.jpg" alt=""></a>
                        </div>
                        <div class="content">
                            <a href="#">Split Remedy Split End Shampoo</a>
                        </div>
                        <div class="remove-btn">
                            <a href="#"><i class="icofont-close"></i></a>
                        </div>
                    </div>
                    <div class="cart-bottom">
                        <div class="sing-price">Tk. 140</div>
                        <div class="cart-plus-minus">
                            <div class="dec qtybutton">-</div>
                            <div class="dec qtybutton">-</div>
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                            <div class="inc qtybutton">+</div>
                            <div class="inc qtybutton">+</div>
                        </div>
                        <div class="total-price">Tk. 280.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-scr-bottom">
        <ul>
            <li>
                <div class="title">Subtotal</div>
                <div class="price">Tk. 1045.00</div>
            </li>
            <li>
                <div class="title">Shipping</div>
                <div class="price">Tk. 40.00</div>
            </li>
            <li>
                <div class="title">Cart Total</div>
                <div class="price">Tk. 1085.00</div>
            </li>
        </ul>
        <a href="#" class="food-btn"><span>Place Order</span></a>
    </div>
</div>
