.badge {
  padding:  8px 5px;
  font-weight: 500;
  color:#fff;
  width: 100%;

  &.badge {
    &-submitted {
      background: #f1d511;
    }
    &-canceled {
      background: #c15050;
    }
    &-in_progress {
      background: #176cce;
    }
    &-shipped {
      background: #7610b6;
    }
    &-completed {
      background: #15b610;
    }
  }
}
