<section class="padding-tb bg-body">
    <div class="container">
        <div class="section-wrapper">
            <div class="row">
                <div class="col-sm-3 mb-4 mb-sm-0">
                    <div class="widget widget-category">
                        <div class="widget-header">
                            <h5>{{currentUser.fullName}}</h5>
                        </div>
                        <ul class="widget-wrapper">
                            <li>
                                <a class="d-flex flex-wrap justify-content-between" routerLink="/user/details" routerLinkActive="active">
                                    <span translate="GENERAL.MY_ACCOUNT"></span>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex flex-wrap justify-content-between" routerLink="/user/orders" routerLinkActive="active">
                                    <span translate="GENERAL.ORDERS"></span>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex flex-wrap justify-content-between" routerLink="/user/settings" routerLinkActive="active">
                                    <span translate="GENERAL.ACCOUNT_SETTINGS"></span>
                                </a>
                            </li>
                            <li *ngIf="currentUser.isUserOfTypeVendor()">
                                <a class="d-flex flex-wrap justify-content-between bg-success text-white" routerLink="/dashboard" routerLinkActive="active">
                                    <span translate="GENERAL.VENDOR_PANEL"></span>
                                </a>
                            </li>
                            <li>
                                <a (click)="logOut()" class="d-flex flex-wrap justify-content-between text-danger">
                                    <span translate="GENERAL.LOGOUT"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</section>
