@import "variables";

:host {
  position: relative;
}

.author-icon img {
  cursor: pointer;
}

.dropdown-item {
  padding: 0.5em 1em;
  cursor: pointer;

  &.green {
    background: $theme-color;
    color: #fff;
    i {

      background: lighten($theme-color, 5%);
    }
  }

  i {
    $box-size: 30px;

    font-size: 13px;
    background: $ash-color;
    display: inline-block;
    width: $box-size;
    height: $box-size;
    line-height: $box-size;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
  }
}

.notification {
  $box-size: 20px;
  background: $google;
  width: $box-size;
  height: $box-size;
  line-height: $box-size;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;

  &.fixed {
    position: absolute;
    top: -7px;
    right: -7px;
  }
}
