<footer class="footer no-print">
    <div class="container">
        <div class="footer-top">
            <div class="footer-area text-center">
                <div class="row justify-content-center">
                    <div class="col-md-3 col-6">
                        <div class="footer-logo">
                            <a routerLink="/home"><img src="assets/images/footer_logo.png" alt="footer-logo"></a>
                        </div>
                    </div>
                </div>
                <div class="footer-menu">
                    <ul>
                        <li><a routerLink="/home" translate="MENU.HOME"></a></li>
                        <li><a routerLink="/static/faq" translate="FOOTER.FAQ"></a></li>
                        <li><a routerLink="/static/3/cookies" translate="FOOTER.COOKIES"></a></li>
                        <li><a routerLink="/static/1/terms-and-conditions" translate="FOOTER.TERMS"></a></li>
                        <li><a routerLink="/static/2/gdpr" translate="FOOTER.GDPR"></a></li>
                        <li><a routerLink="/contact" translate="MENU.CONTACT"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <p>&copy; 2020 <a href="#">{{'FOOTER.COPYRIGHT' | translate}}</a></p>
        </div>
    </div>
</footer>
