<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-area text-center">
                <div class="row justify-content-center">
                    <div class="col-md-3 col-6">
                        <div class="footer-logo">
                            <a routerLink="/home"><img src="assets/images/footer_logo.png" alt="footer-logo"></a>
                        </div>
                    </div>
                </div>
                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">How it works?</a></li>
                        <li><a href="#">Menus</a></li>
                        <li><a href="#">Chefs</a></li>
                        <li><a href="#">Recipes</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <p>&copy; 2020 <a href="#"><span>Apromag</span> Toate drepturile rezervate.</a></p>
        </div>
    </div>
</footer>
