<div *ngIf="cartItems.length">
    <div class="cart-top">
        <app-cart-list [cartProducts]="cartItems"></app-cart-list>
        <div class="alert alert-warning text-center m-2" *ngIf="vendor.freeShippingOver - (cartTotal | async)?.totalProductsPrice > 0">
            {{'CART.ORDER_MORE' | translate: {orderMore: (vendor.freeShippingOver - (cartTotal | async)?.totalProductsPrice) | number: '1.2-2'} }}
        </div>
    </div>
    <div class="cart-bottom">
        <form action="" [formGroup]="cartSummaryForm" (ngSubmit)="onCartSubmit()">
            <div class="shiping-box">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="cart-overview">
                            <h4 translate="CART.ORDER_TOTAL"></h4>
                            <ul>
                                <li>
                                    <span class="pull-left" translate="CART.SUBTOTAL"></span>
                                    <p class="pull-right">{{(cartTotal | async)?.totalProductsPrice | aproCurrency: (cartTotal | async)?.currency}}</p>
                                </li>
                                <li>
                                    <span class="pull-left" translate="CART.SHIPPING"></span>
                                    <p class="pull-right">{{(cartTotal | async)?.shippingPrice | aproCurrency: (cartTotal | async)?.currency}}</p>
                                </li>
                                <li>
                                    <span class="pull-left" translate="CART.TOTAL"></span>
                                    <p class="pull-right"><strong>{{(cartTotal | async)?.totalPrice | aproCurrency: (cartTotal | async)?.currency}}</strong></p>
                                </li>
                            </ul>

                            <h5 class="mt-5">Metoda de livrare</h5>
                            <div>
                                <strong>Livrare standard</strong>
                                <div>Pret standard livrare: 20 lei</div>
                                <div>Livrare gratuita pentru comenzi peste 20 lei</div>
                            </div>

                            <h5 class="mt-5">Metoda de plata</h5>
                            <div>
                                <strong>Cash la livrare</strong>
                                <div>Pret standard livrare: 20 lei</div>
                                <div>Livrare gratuita pentru comenzi peste 20 lei</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="calculate-shiping">
                            <h4>Livrare la adresa</h4>
                            <div class="outline-select">
                                <select formControlName="location">
                                    <option value="">{{'GENERAL.SHIPPING_TO' | translate}}</option>
                                    <option [value]="location.id" *ngFor="let location of shippingLocations | async ">{{location.name}}</option>
                                </select>
                                <span class="select-icon"><i class="icofont-caret-down"></i></span>
                            </div>
                            <input type="text" formControlName="fullName" placeholder="{{'ACCOUNT.FULL_NAME' | translate}}" class="form-control">

                            <input type="text" formControlName="shippingAddress" placeholder="{{'ACCOUNT.FULL_ADDRESS' | translate}}" class="form-control">

                            <div class="row">
                                <div class="col-6">
                                    <input type="text" formControlName="phone" placeholder="{{'ACCOUNT.PHONE' | translate}}" class="form-control">
                                </div>
                                <div class="col-6">
                                    <input type="text" formControlName="email" placeholder="{{'ACCOUNT.EMAIL' | translate}}" class="form-control">
                                </div>
                            </div>
                            <textarea formControlName="remarks" id="" cols="30" rows="5" placeholder="{{'GENERAL.REMARKS' | translate}}"></textarea>
                            <label><p-checkbox formControlName="terms" [binary]="true"></p-checkbox> Am citit si sunt de acord cu <a routerLink="/static/1/terms-and-conditions">termenii si conditiile</a> acestui site</label>

                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-checkout-box">
                <div class="col-12 text-right">
                    <button type="submit" class="food-btn style-3" [disabled]="cartSummaryForm.invalid"><span>Trimite comanda</span></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="!cartItems.length">
    <div class="text-center py-4">
        <h4 class="text-center">Cosul de cumparaturi este gol</h4>
        <p>Adauga produse pentru a putea finaliza o comanda</p>
        <button type="submit" class="food-btn style-2 mr-3" routerLink="/vendor"><span><i class="icofont-shopping-cart"></i> Inapoi la magazin</span></button>
    </div>
</div>
