@import "variables";

.location {
  color: $theme-color;
  font-size: 16px;

  .remove {
    color: gray;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: $theme-color;
    }
  }

  a {
    cursor: pointer;
  }
}
