<div class="product-item">
    <div class="product-thumb">
        <img src="assets/images/shop/01.jpg" alt="shope">
        <div class="product-action-link">
            <a href="assets/images/shop/01.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
            <a href="#"><i class="icofont-heart-alt"></i></a>
            <a href="#"><i class="icofont-cart-alt"></i></a>
        </div>
    </div>
    <div class="product-content">
        <h6><a href="#">Product Text Here</a></h6>
        <h6>$200</h6>
    </div>
</div>
<div class="product-list-item">
    <div class="product-thumb">
        <img src="assets/images/shop/01.jpg" alt="shope">
        <div class="product-action-link">
            <a href="assets/images/shop/01.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
            <a href="#"><i class="icofont-heart-alt"></i></a>
            <a href="#"><i class="icofont-cart-alt"></i></a>
        </div>
    </div>
    <div class="product-content">
        <h6><a href="#">Product Title Here</a></h6>
        <h6>
            $200
        </h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
    </div>
</div>
