<div [ngClass]="displayType === 'grid' ? 'product-item' : 'product-list-item'">
    <div class="product-thumb">
        <img [src]="product.imageFullPath" [alt]="product.name">
        <div class="product-action-link">
            <a [routerLink]="product.urlSlug" data-rel="lightcase"><i class="icofont-eye"></i></a>
            <a (click)="addToCart(product)" class=" cart-add"><i class="icofont-cart-alt"></i></a>
        </div>
    </div>
    <div class="product-content">
        <h6><a [routerLink]="product.urlSlug">{{product.name}}</a></h6>
        <h6 class="price theme-color font-weight-light">{{product.price  | aproCurrency: product.currency}} / {{product.unit}}</h6>
        <p *ngIf="displayType === 'list'">{{product.description}}</p>
    </div>
</div>
