@import "mixins";

.requestPending {
  height: 120px;
}


.close-btn {
  font-size: 22px;
  cursor: pointer;
}

.action-buttons {
  button {
    @include breakpoint(max-md) {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}
