<div class="search-area" [class.open]="searchOpen | async">
    <div class="search-input">
        <div class="search-close" (click)="hideSearch()">
            <span></span>
            <span></span>
        </div>
        <form (ngSubmit)="searchForm.valid && onSearch()" [formGroup]="searchForm">
            <input #input type="text" formControlName="query" placeholder="*Cauta produse.......">
            <span class="text-danger mt-4 d-block" *ngIf="searchForm.dirty && searchForm.invalid">Minim 3 caractere</span>
        </form>
    </div>
</div>
